name: Build and test
on:
  pull_request:
    branches:
      - 'main'
      - 'ihexon'
  push:
    branches:
      - 'main'
      - 'ihexon'
    tags:
      - 'v*.*.*'
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: 'actions/checkout@v4'

      - name: Set up Go
        uses: 'actions/setup-go@v5'
        with:
          go-version: stable

      - name: Lint
        uses: 'golangci/golangci-lint-action@v7'
        with:
          version: 'latest'

      - name: Build
        run: make build

      - name: Upload artifact
        uses: 'actions/upload-artifact@v4'
        with:
          name: sshexec
          path: out/
          if-no-files-found: error
          overwrite: true

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
          files: |
            out/sshexec*
            out/caller*
          append_body: true
          draft: false
          prerelease: false
          make_latest: true
